body {
  overflow-x: hidden; /* Prevent horizontal overflow */
  overflow-y: auto; /* Add vertical scrollbars if needed */
}
#collapsibleNavbar {
    height: 100vh;
  }
.nav-link{
    font-size: 1.5rem;
    color: #107a7bff !important;
    transition: all 0.3s ease;
}
.nav-link:hover{
  font-size: 2rem;
  color: #fdbc54 !important;
}
.btn, a, .navbar-toggler, .btn-close, .navbar-collapse{    
  transition: all 0.3s ease;
}
.navbar-toggler:hover{
  border-color: #107a7bff !important;
}

.btn-close:hover{
  width: 1.5em;
  height: 1.5em;
  border: var(--bs-border-width) solid #107a7bff !important;
}

.navbar-default .btn-default, .navbar-default .btn, .navbar-default .btn-black {
  font-weight: 400;
  letter-spacing: 1px;
  float: right;
  padding: 8px 10px;
  font-size: 11px;
  line-height: 14px;
  transition: all 0.25s linear;
}
.btn-default.btn-white {
  border-radius: 99px;
  border-color: #107a7bff!important;
  background: #107a7bff;
  color: #fff;
}
.btn-default.btn-white:hover, .btn-default.btn-white:focus, .btn-default.btn-white:active {
  border-color: #fdbc54!important;
  background: #fdbc54;
  color: #000;
}
.btn-default.btn-black {
  border-radius: 99px;
  border-color: #fdbc54;
  background: none;
  color: #000;
}
.btn-default.btn-black:hover, .btn-default.btn-black:focus, .btn-default.btn-black:active {
  border-color: #107a7bff!important;
  background: #107a7bff;
  color: #fff;
}
.btn-default.btn-primary{
  border-color: #fdbc54!important;
  background-color: #fdbc54;
  color: #000;
}
#collapsibleNavbar {
  height: 100vh;
}


.add-boder{
  /*border: 1px solid brown;*/
}

.my-flex{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

footer.bg-dark{
  background-color: #052829 !important;
  color: white;
}