.header-img{
    display: flex;
    justify-content: space-around;
}


.header-img > div{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-img > div img{
    max-height: 140px;
    max-width: 217px;
}
.header-img- > div img{
    max-width: 150px;
}
.header2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hor-center{
    display: flex;
    align-items: center;
}
@media (max-width: 500px){
    .header-img{
        flex-direction: column;
        align-items: center;
    }
    .header-img > div{
        width: 100%;
    }
    .header-img > div img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .header-img > div a{
        width: 100%;
    }
}



.person{
    font-style: italic;
    color: green
}
.title{
    color: blue;
    display: block;
}
.pause{
    color: blueviolet;
    display: block;
}
.description{
    display: block;
}
.smaller-size{
    font-size: smaller;
}

td{
	text-align:center;
    vertical-align: middle !important;
}
.hour{
    color:brown
}

table tr td:first-child{
    line-break: normal;

}

.jumbotron{
    margin-bottom: -30px;
}


.align-img{
    display: flex;
    justify-content: center;
    margin:14px;
}

.align-img a{
	display:flex;
	align-items: center;
	justify-content:center;
	padding:5px;
	padding-bottom:15px;
	width: 100%;
	height:100%;
    text-decoration:none;
}

.align-img{
    min-height: 120px;
    /*min-width: 400px;*/
}

.align-img img{
    max-height: 75px;/*80%;*/
    max-width: 100%;
    margin: 10px;
}
.align-img-main img{
    max-width: 200px;
}
@media (min-width: 1080px){
    .align-img{
        margin: 20px;
        max-height: 67px;
    }
}

@media (min-width: 1200px){
    .align-img{
        margin: 38px;
    }
}


.table1{
    font-size: 14px !important;
}

.bg-atlr{
    background-color: #8888ff5e;
}
.bg-conf{
    /*background-color: #ff000063;*/
}
.bg-tuto{
    background-color: #ffff0063;
}

.myfa{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.myfa > i{
    margin-right: 10px;
}